/* Text Styles */
.module-author {
  color: rgb(96,96,96)
}


.module-title {
  align-items: center;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Image Styles */


/* Div Styles */

.div-module-preview{
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  /* background-color: cyan; */

  
  transition: all ease-in-out 200ms;
  -webkit-transition: all ease-in-out 200ms;
}

#div-module-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;

  transition: all ease-in-out 200ms;
  -webkit-transition: all ease-in-out 200ms;
}

@media (max-width:800px) {
  #div-module-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:1300) {
  #div-module-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}